.page {
  //position: absolute;
  width: 100%;
  height: 100%;
  //border: 1px solid rgb(165, 9, 236);
}
.my-container {
  margin-top: 56px;
  //border: 1px solid darkcyan;
  .row {
    max-width: 100%;
  }
}
.row {
  max-width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
