.my-banner {
  // display: block;
  min-width: 100.6%;
  //height: 490px;
  //border: 2px solid rgb(239, 65, 65);
  //background-color: #c5d3fd;
  padding: 50px 0px 1px 0px;
  background: linear-gradient(to top, #aabeff, #e4eafd, #ffffff);
  display: flex;
  align-items: center;
  .image {
    width: 80%;
    padding-bottom: 30px;
    //height: 100%;
    //display: block;
    //object-fit: cover;
  }

  .form-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    //border: 1px solid firebrick;
    //display: none;

    .banner-title {
      //margin-top: 50px;
      //text-justify: auto;
      //border: 1px solid silver;
      //width: 70%;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
      //color: #2d30c2;

      .image1 {
        width: 65%;
        height: 45px;
        margin-left: -5px;
      }

      .sub-title {
        font-size: 28px;
        font-weight: 800;
        //font-style: italic;
        //width: 80%;
        //margin-left: 10px;
        //border: 1px solid white;
      }
    }
  }
}

.banner-form {
  width: 85%;
  opacity: 0;
  animation: fadeInUp 2s 1s forwards;
  //border: 1px solid rgb(122, 121, 121);
  padding: 10px 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -90px;
  background-color: #fafbff;
  border-radius: 5px;
  color: #dae3fe;
  box-shadow: 1px 1px 1px 1px #d7d5d52b;

  .text-box {
    background: #fafbff;
    border-left: 2px solid silver;
    color: #dae3fe;
  }
  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #2d30c2;
    opacity: 1; /* Firefox */
    font-weight: 600;
  }

  .button {
    //border: 1px solid rgb(122, 121, 121);
    //width: 90%;
    .btn {
      width: 100%;
    }
  }

  .rows {
    margin-left: auto;
    margin-right: auto;
    //border-bottom: 1.5px solid #dae3fe;
    //width: 95%;
  }
  .pas {
    width: 40px;
  }
  .text-box {
    width: 100%;
    height: 45px;
    border: none;
    //margin: 0;
    //border-radius: 8px;
    border-bottom: 1px solid silver;
    text-align: left;

    :nth-child(3) {
      border-left: 2px solid silver;
      display: none;
    }

    .pas {
      border-left: 2px solid silver;
      display: none;
    }
  }
  input:focus {
    outline: none;
  }
}

.top-destination {
  background-color: #2e5f6d;

  .destination-container {
    width: 90%;
  }

  .destination-text {
    color: white;
    font-size: 18px;
    font-weight: 600;
  }

  .destination {
    background-color: white;
    color: #2e5f6d;
    // width: 30%;
    height: 70px;
    //border: 1px solid salmon;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    padding: 20px 0px;
    cursor: pointer;

    .location {
      text-align: left;
      //margin-right: 150px;
    }
    .pointer {
      text-align: right;
    }
  }
}

.info-section {
  text-align: left;
  padding-bottom: 50px;
  color: #8a8a8a;

  //border: 1px solid black;
  .info-title {
    font-weight: 800;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    //border: 1px solid rgb(114, 46, 46);
    color: rgb(94, 92, 92);
  }

  .info-text {
    font-size: 13px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    //border: 1px solid rgb(114, 46, 46);
  }

  .info-icon {
    width: 70px;
    height: 60px;
    //border: 1px solid rgb(99, 63, 63);
    margin-left: 25px;
    margin-top: 50px;

    :nth-child(1) {
    }
    :nth-child(2) {
    }
    :nth-child(3) {
    }
  }
}
.publish-section {
  text-align: left;
  .img-div {
    padding: 40px 0;

    width: 80%;
    //border: 1px solid red;

    .publish-img {
      width: 100%;
    }
  }
  .text-container {
    padding: 40px 0;

    display: flex;
    align-items: center;
    .publish-textarea {
      vertical-align: auto;
      //border: 1px solid red;
      //margin-top: 80px;
      width: 90%;

      .publish-title {
        font-weight: 600;
        font-size: 28px;
      }
      .publish-text {
        font-weight: 400;
        font-size: 15px;
      }
      .button {
        border-radius: 30px;
        font-size: 14px;
        font-weight: 600;
        padding: 10px 25px;
      }
    }
  }
}

.about-section {
  text-align: left;
  background-color: #2e5f6d;
  .img-div {
    width: 70%;
    //height: 350px;
    //border: 1px solid red;
    padding: 40px 0;

    .about-img {
      width: 100%;
      height: 100%;
    }
  }
  .text-container {
    display: flex;
    align-items: center;
    padding: 40px 0;
    .about-textarea {
      vertical-align: auto;
      //border: 1px solid red;
      //margin-top: 80px;
      width: 80%;
      color: white;

      .about-title {
        font-weight: 600;
        font-size: 28px;
      }
      .about-text {
        font-weight: 400;
        font-size: 15px;
        color: #e0dcdc;
      }
      .button {
        border-radius: 30px;
        font-size: 14px;
        font-weight: 600;
        padding: 10px 25px;
      }
    }
  }
}
